.SearchbarButton {
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    margin: 20px 10px 10px 5px;
    box-shadow: 2px 2px 4px #000000be;
    font-size: 15px;
    font-weight: bold;
    background-color: #8bc540;
  }
  .SearchbarBody {
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000000be;
    font-size: 15px;
    width: 300p;
  }