.Requested{
    background-color: #fff0c2;
}

.Accepted{
    background-color: #c8e6c9;
}

.Rejected{
    background-color: #ffcdd2;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  box-shadow: 0 5px 10px gray;
  background-color: white;
  text-align: left;
  overflow: hidden;  
  margin-left: auto;
  margin-right: auto;
}

td {
    padding: 1rem 2rem;
    width: 150px;
    text-align: center;
  }
